#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  overflow-x: hidden;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-list li {
  background-color: #fff; /* Màu nền mặc định */
  padding: 10px;
  margin-bottom: 10px;
}

.task-list li.completed {
  background-color: limegreen; /* Màu nền khi task đã hoàn thành */
}

.task-list li.incomplete {
  background-color: orange; /* Màu nền khi task chưa hoàn thành */
}

button {
  margin-right: 2px;
}

button.edit-task {
  background-color: #4CAF50; /* Màu xanh lá cây */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Shadow */
}

button.delete-task {
  background-color: red; /* Màu xanh lá cây */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Shadow */
}

button.add-task {
  background-color: #007bff; /* Màu xanh lá cây */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Shadow */
}